<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Archivo+Black&family=Aref+Ruqaa:wght@400;700&family=Just+Another+Hand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/blogs.css" />
    <title>Document</title>
</head>
<body>
    <div class="siemreap-header">
      <img
        src="../asset/image/siemreap-image/TapromTemple.webp"
        alt=""
        class="siemreap-image"
      />
    </div>
    <div class="container siemreap-hero-title d-block">
      <div class="d-flex justify-content-between align-items-center">
        <span class="text-white siemreap-header-text text-uppercase">
          siem reap & angkor
        </span>
        <a
          href="./contact.html"
          class="siemreap-header-text-btn text-white text-uppercase"
          >book this tour</a
        >
      </div>
      <p class="text-warning text-uppercase siemreap-header-sub-text mt-3">
        cambodia . 3 days / 2 days
      </p>
      <h3 class="text-white text-uppercase siemreap-header-title">
        walk where <br />
        stone remembers <br />
        the sunrises.
      </h3>
      <p class="text-white siemreap-header-description mt-4">
        A private journey through Angkor's temples, the floating villages of
        Tonlé Sap, and the everyday life of Siem Reap — paced so you actually
        see it, not just pass through it.
      </p>
      <p class="text-white siemreap-header-description">See the day-by-day</p>
    </div>
</body>
</html> -->
