<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/review.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Archivo+Black&family=Aref+Ruqaa:wght@400;700&family=Just+Another+Hand&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body> -->
<div class="container-fluid my-5" id="review">
  <div class="container">
    <div class="d-block justify-content-start align-items-center">
      <div class="d-flex justify-content-start align-items-center gap-2">
        <span class="line"></span>
        <p class="text-white review-head text-capitalize">
          Poatcards from traveller
        </p>
      </div>
      <h3 class="text-white review-header my-2">
        Storie from the <span class="text-warning">roads.</span>
      </h3>
      <p class="text-white review-subhead my-2">
        Three trips, three voices — a few words from travelers who let us handle
        the planning.
      </p>
      <div
        class="d-flex justify-content-center align-items-center my-3 py-5 gap-4"
      >
        <div class="card review-cards">
          <div
            class="review-image d-flex justify-content-center align-items-center"
          >
            <img
              src="../asset/image/Home/girl.webp"
              alt="Traveller"
              class="mt-2"
            />
          </div>

          <div class="card-body">
            <h4 class="text-white traveller-name text-capitalize text-center">
              Mom sonita
            </h4>
            <p class="text-warning card-text text-capitalize text-center">
              siem reap tour
            </p>
            <p class="text-white card-text text-center">
              "Excellent guides, comfortable hotels, smooth transport, and
              outstanding service!"
            </p>
          </div>
        </div>
        <div class="card review-cards">
          <div
            class="review-image d-flex justify-content-center align-items-center"
          >
            <img
              src="../asset/image/Home/girl2.webp"
              alt="Traveller"
              class="mt-2"
            />
          </div>

          <div class="card-body">
            <h4 class="text-white traveller-name text-capitalize text-center">
              lim rothana
            </h4>
            <p class="text-warning card-text text-capitalize text-center">
              kompot tour
            </p>
            <p class="text-white card-text text-center">
              "Affordable, comfortable, and hassle-free. Highly recommended!"
            </p>
          </div>
        </div>
        <div class="card review-cards">
          <div
            class="review-image d-flex justify-content-center align-items-center"
          >
            <img
              src="../asset/image/Home/girl3.webp"
              alt="Traveller"
              class="mt-2"
            />
          </div>

          <div class="card-body">
            <h4 class="text-white traveller-name text-capitalize text-center">
              choeut rady
            </h4>
            <p class="text-warning card-text text-capitalize text-center">
              siem reap tour
            </p>
            <p class="text-white card-text text-center">
              "Everything was perfect—from transportation to hotels and customer
              service."
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- </body>
</html> -->
  </div>
</div>
